<template name="resultstemplate">
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-8">
      {{#each items}}
        {{> itemtemplate}}
      {{/each}}
    </div>
  </div>
</div>
</template>

<template name="itemtemplate">
  <div class="panel panel-default" width="600px">
    
    <div class="panel-heading">
      <h3 class="panel-title">{{Title}}</h3>
    </div>
    
    <div class="panel-body">

      <div class="col-sm-4">
        <img src="{{Poster}}" width="140px">
      </div>

      <div class="col-sm-8">
        <p>{{Plot}}</p>
        {{> liketemplate}}
      </div>
    
    </div>

  </div>
</template>
