<template name="userpage">
<head>
  <title>suositusApp Eeki</title>
</head>

<body>
  {{> loginButtons}}
  <h1>SuositusApp</h1>

  {{> add}}
  {{> list}}

</body>

</template>

<template name="add">
	<form class="new-like">
  		<input type="text" name="like" placeholder="Tell me a movie you like!" />
  		<input type="submit" value="Add" />
	</form>
</template>

<template name="list">
  <ul>
    {{#each likes}}
        <div class="movieCard">
            {{#if img}}
            <img src="{{imgSrc}}">
            {{/if}}

            <li>{{title}} {{year}}</li>
            <input type="button" class="like-button" value="Like" />
        </div>
    {{/each}}
  </ul>
</template>


